body {
    background-color: rgb(181, 214, 146);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #001b5b;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 20px 0;
    padding: 15px 0;
    background-color: #bed2ff;
    border-bottom: 3px solid #007bff;
}

nav{
    height: 3px;
    text-align: center;
}

button {
    width: 150px;
    padding: 10px 20px;
    margin: 10px 5px;
    font-size: 16px;
    color: white;
    background-color: #6200ff;
    border: 2px solid rgb(255, 77, 0);
    border-radius: 4px;
    text-align: center;
}
